html {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: blueviolet;
}
p .Brendon {
  color: crimson;
}

p:hover .Brendon {
  background-color: darkgray;
}
a:visited {
  color: black;
  text-decoration: none;
}
img {
  width: 250px;
  height: 200px;
}
li.fabio img{
  opacity: 0.05;
  filter: alpha(opacity=50);
}
li.fabio img:hover {
  opacity:1.0;
  filter:alpha(opacity=100);
}
.effect_yumi {
  text-align: center;
}
.effect_yumi h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: fantasy;
}
.effect_yumi p {
  display: inline-block;
  width: 15%;
  height: 100px;
  text-align: center;
  padding: 20px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 0 20px;
  cursor: pointer;
}
.effect_yumi p.btn_shadow {
  border: 2px solid #ccc;
}
.effect_yumi p.btn_shadow:hover {
  box-shadow: 5px 6px 30px rgba(0, 0, 0, .4);
}
.effect_yumi p.btn_gradient {
  background-image: linear-gradient(to bottom right, #860075, #ffd400);
  color: #fff;
  border: 2px solid transparent;
}
.effect_yumi p.btn_gradient:hover {
  background-image: linear-gradient(to bottom right, #ffd400, #860075);
  border: 2px solid #fff;
}
.effect_yumi p.btn_click {
  background-color: #fff;
  border: 2px solid #d40d3b;
  font-weight: 700;
  font-size: .8rem;
  text-transform: uppercase;
}
.effect_yumi p.btn_click:hover {
  background-color: #d40d3b;
  border: 2px solid transparent;
}
